body{
	font-size: 16px;
	font-family: arial;
	background:#fefefe;
	color: #333;
}

h1 {
	font-size: 72px;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 4px #aaaeee;
}

p {
	color: #444;
	font-size: 17px;
	line-height: 27px;
}

.announce {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	width: 680px;
	margin: 20px auto 0 auto;
}

.old_friends{
	width: 500px;
	margin: 0 auto;
}

.ob_twit{
	width: 500px;
	margin-top: 10px;
	background: transparent;
	position: relative;
}